:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Responsive */

/* Para pantallas de al menos 480px */
@media (min-width: 480px) {
  .container {
    padding: 15px;
  }

  nav ul {
    flex-direction: row;
  }

  nav ul li {
    margin: 0 10px;
  }

  .movie-card {
    margin-bottom: 25px;
  }
}

/* Para pantallas de al menos 768px */
@media (min-width: 768px) {
  header {
    text-align: left;
    padding: 40px;
  }

  .container {
    padding: 30px;
  }

  .movie-card h3 {
    font-size: 1.5em;
  }

  .movie-card p {
    font-size: 1em;
  }

  .page-content {
    padding: 30px;
  }
}

/* Para pantallas de al menos 1024px */
@media (min-width: 1024px) {
  nav ul li {
    margin: 0 15px;
  }

  header {
    padding: 60px;
  }

  .container {
    max-width: 1000px;
  }

  .movie-card {
    flex-basis: 48%;
    margin-bottom: 30px;
  }
}

/* Para pantallas de al menos 1200px */
@media (min-width: 1200px) {
  nav ul li {
    margin: 0 20px;
  }

  header {
    padding: 80px;
  }

  .container {
    max-width: 1200px;
    padding: 40px;
  }

  .movie-card {
    flex-basis: 15%;
    margin-bottom: 40px;
  }

  .page-content {
    padding: 50px;
  }
}
